{[template "backend/common/header_head.tmpl" .]}


<style type="text/css">
.layui-form-item .layui-input-inline{
    width: auto;
    margin-left: 5px;
}
.type-input{
    height:70px;
    overflow-y: auto;
}
.type-input::-webkit-scrollbar {
    /*滚动条整体样式*/
    width : 10px;  /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
.type-input::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    background   : #666;
}
.type-input::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background   : #ededed;
}
.layui-form-radio{
    margin: 0; 
    padding-right: 0;
}

.layui-form-pane .layui-form-checkbox {
    margin: 4px 0 4px 1px;
}
.layui-form-checkbox[lay-skin=primary] span {
    padding-right: 4px;
}
.layui-form-checkbox[lay-skin=primary] i {
    left: 6px;
}
.layui-form-item .layui-col-xs12{
    margin-top: 10px;
}
@media screen and (max-width: 990px){
    .layui-form-item .layui-col-xs12:first-child{
        margin-top: 0px;
    }
    .layui-form-item{
        margin-bottom: 10px; 
    }
}

.hide{
    display: none;
}
</style>
<!-- start -->

<div class="layui-fluid">

    <div class="layui-form toolbar layui-padding-3" style="margin-top: 10px;margin-bottom: 10px;">
    <form class="layui-form layui-form-pane" onclick="return false;">
        <table class="layui-table">
            <colgroup><col width="150"><col></colgroup>
            <tbody>
                <tr>
                    <td>名称</td>
                    <td>
                        <div class="layui-input-inline">
                            <input type="text" name="name" autocomplete="off" class="layui-input" value="{[if .Data]}{[.Data.Name]}{[end]}" placeholder="名称">
                        </div>
                        <br/>
                        <p class="layui-font-12">填写一个容易识别的名称。</p>
                    </td>
                </tr>

                <tr class="bls">
                    <td>机器人Token *</td>
                    <td>
                        <div class="layui-input-line">
                            <input type="text" name="token" autocomplete="off" class="layui-input" placeholder="请输入Token" value="{[if .Data]}{[.Data.Token]}{[end]}">
                        </div>
                        <p class="layui-font-12">创建机器人的时候可以获得，类似于 123456:AAAA-BBBB ，可以向 @BotFather 发送 /newbot 指令创建新的机器人。</p>
                    </td>
                </tr>

                <tr class="bls">
                    <td>代理服务</td>
                    <td>
                        <div class="layui-inline">
                            <div class="layui-input-inline" style="float: left;">
                                <select name="proxy_scheme" lay-verify="required" lay-search>
                                    <option value="socks5" {[if .Data]}{[if eq .Data.ProxyScheme "socks5" ]}selected{[end]}{[end]}>socks5://</option>
                                    <option value="https" {[if .Data]}{[if eq .Data.ProxyScheme "https" ]}selected{[end]}{[end]}>https://</option>
                                    <option value="http" {[if .Data]}{[if eq .Data.ProxyScheme "http" ]}selected{[end]}{[end]}>http://</option>
                                </select>
                            </div>
                            <div class="layui-input-inline" style="float: left;">
                                <input type="text" name="proxy_value" autocomplete="off" class="layui-input" placeholder="" value="{[if .Data]}{[.Data.ProxyValue]}{[end]}">
                            </div>
                        </div>
                        <p class="layui-font-12">可选项，仅当API节点所在服务器无法直接连接Telegram API时填写；测试是否能够连接Telegram API的方法： 
curl https://api.telegram.org 出现2XX、3XX、4XX之类提示时说明能够直接连接；如果你设置了代理，请使用 
curl -x "你的代理服务地址" https://api.telegram.org 来测试你的代理是否可用。</p>
                    </td>
                </tr>

                <tr class="bls">
                    <td>启用当前Telegram监听</td>
                    <td>
                        <input type="checkbox" name="listen_enable"
                        {[if .Data]}{[if .Data.ListenEnable]}checked{[end]}
                        {[else]}checked
                        {[end]}>

                        <p class="layui-font-12">开启后，可根据不同的策略，返回不同的响应</p>
                    </td>
                </tr/>

                <tr>
                    <td colspan="2">
                        <a class="table_more mlink" target_class="more_table">
                            <cite>更多选项</cite>
                            <i class="layui-icon layui-icon-down layui-nav-more"></i>
                        </a>
                    </td>
                </tr>

                <tr class="more_table hide">
                    <td>启用当前机器人</td>
                    <td>
                        <input type="checkbox" name="status"
                        {[if $.Data]}{[if $.Data.Status]}checked{[end]}
                        {[else]}checked
                        {[end]}> 
                    </td>
                </tr>

                <tr class="more_table hide">
                    <td>备注</td>
                    <td><textarea id="editor2" name="mark" class="layui-textarea" style="min-height:100px;" placeholder="">{[if $.Data]}{[$.Data.Mark]}{[end]}</textarea></td>
                </tr>
                
            </tbody>
        </table>


        <div class="layui-form-item" style="text-align: center;">
            <input type="hidden" name="id" value="{[if $.Data]}{[$.Data.ID]}{[end]}">
            <button class="layui-btn" lay-filter="submit_tg" lay-submit>保存</button>
        </div>
    </form>
    </div>

</div>


<script type="text/javascript">

layui.config({base: '/static/layuiadmin/'}).use(['table','jquery'], function(){
///
var admin = layui.admin
,$ = layui.$
,form = layui.form
,table = layui.table;

form.on("submit(submit_tg)", function(data){
    var index = layer.load();
    var field = data.field;

    if (field['status'] == "on"){
        field['status'] = 1;
    } else {
        field['status'] = 0;
    }

    if (field['listen_enable'] == "on"){
        field['listen_enable'] = 1;
    } else {
        field['listen_enable'] = 0;
    }

    $.post("/{[$.admin_path]}/tg/add", field, function(res) {
        showMsg(res.msg, function(){
            layer.close(index);
            if(res.code > -1){
                parent.location.reload();
            }
        },{icon: res.code > -1 ? 1 : 2,shift:res.code>-1 ? 0 : 6});
    },'json');
    return false;
});


///
});
</script>

{[template "backend/common/footer.tmpl" .]}
